<h1>Review Item Before Purchase and Enter Payment Details</h1>


<button id="checkout-button">Checkout</button>
<div id="payment-error"></div>

<script type="text/javascript">
  var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as argument here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: "<%= @session.id %>"
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
      document.getElementById('payment-error').innerText(result.error.message);
    });
  });
</script>


<!-- <%= form_tag charges_path(product: @product.id) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
      <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
    <span>Amount: <%= @product.price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Buying Product - <%= @product.title%>(<%= @product.id%>)"
  data-amount="<%= @product.price * 100 %>"
  data-locale="auto"
  data-currency="inr"
  data-email="<%= current_user.email %>"></script>
<% end %> -->